* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    color: white;
}

body {
    width: 100%;
    height: 100vh;
    background: url(./img/weather_background.png) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8%;
    overflow-x: hidden;
}

#header_icon {
    width: 5.375rem;
}

#header {
    background: rgba(255, 255, 255, 0.19);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4.75rem 0 4.25rem;
    width: 100%;
    flex: 1;
    position: relative;
    animation: headerAnimation 1.5s ease;
} 

@keyframes headerAnimation {
    0% {
        top: -100%;
    }
    100% {
        top: 0%;
    }
}

#header a, p {
    font-size: 1.8rem;
    font-weight: 300;
    text-decoration: none;
    transition-duration: 0.5s;
}

#header a:hover {
    transform: translateY(-0.2rem);
}

#header > div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#section {
    align-self: center;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex: 5;
    flex-wrap: wrap;

}

.section_items {
    background:rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(16px);
    border-radius: 48px;
    height: 60vh;
    width: 35rem;
    padding: 3.5rem 2rem;
}

#location_condition, #location_condition_lower {
    display: flex;
    flex-direction: column;
}

#location_condition > div {
    display: flex;
    justify-content: space-evenly;
}

#location_condition p {
    font-size: 1.25rem;
    font-weight: 300;
}

#location_condition h2 {
    font-size: 1.75rem;
}

#location_condition h1 {
    font-size: 10rem;
    font-weight: 300;
}

#celsius_number{
    height: min-content;
    position: relative;
}

#celsius_number::after {
    content: "°C";
    font-size: 2rem;
    font-weight: 300;
    position: absolute;
    top: 20%;
}

#location_condition_upper > img {
    width: 5.5rem;
    animation: rotate 5s linear infinite;
    animation-delay: 1.5s;
}

@keyframes rotate {
    100% {
        transform: rotate(90deg);
    }
}

#location_condition {
    position: relative;
    animation: locationConditionAnim 1.5s ease ;
}

@keyframes locationConditionAnim {
    0% {
        left: -100%;
    }
    100% {
        left: 0%;
    }
}

#location_condition_middle{
    flex:1;
    align-items: center;
}

#location_condition_lower {
    display: flex;
    gap: 2rem;
}

.data_items {
    display: flex;
    width: 100%;
    text-align: center;
}

.data_items > :last-child {
    justify-content: flex-end;
    border-left: 1px solid white;
}

.weather_data {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 2rem;
}

.weather_data > :last-child {
    display: flex;
    justify-content: space-between;
}

#visibility_data {
    gap: 2.7rem;
}

#wind_data {
    gap: 4.2rem;
}

.weather_data > :first-child {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#add_location {
    position: relative;
    animation: addlocationAnimation  1.5s ease;
}

@keyframes addlocationAnimation {
    0% {
        right: -100%;
    }
    100% {
        right: 0%;
    }
}

#add_location, #add_location button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

#add_location button{
    display: flex;
    font-size: 4rem;
    border: none;
    width: 8rem;
    height: 8rem;
    border-radius: 60px;
    background: rgba(255, 255, 255, 0.26);
    margin-top: 0.5rem;
}

#add_location img {
    width: 3rem;
}

#add_location label {
    font-size: 1.75rem;
}

footer {
    font-size: 1.5rem;
    font-weight: 300;
    flex: 1;
    animation: footerAnimation 3.5s ;
}

@keyframes footerAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

footer img {
    width: 1.5rem;
}

@media only screen  and (max-width: 1750px)  {
    html {
        font-size: 14px;
    }
}

@media only screen  and (max-width: 1450px) {
    html {
        font-size: 12px;
    }
}

@media only screen  and (max-width: 1200px) {
    html {
        font-size: 10px;
    }
    
}

@media only screen  and (max-width: 750px) {
    body {
        height: 160vh;
        gap: 2%;
    }

    #header {
        padding: 0 1.75rem 0 1.25rem;
    }

    #section {
        flex-direction: column;
        align-items: center;
        flex: 12;
    }
}

@media only screen  and (max-width: 485px)  {
    .section_items {
        width: 32rem;
    }

    #header a,p {
        font-size: 1.5rem;
    }
    #header p {
        display: none;
    }

    #header > :first-child {
        gap: 0;
    }

    #header_icon {
        width: 4.75rem;
    }

    .weather_data {
        gap: 1rem;
    }
    
    #visibility_data {
        gap: 1.7rem;
    }

    #wind_data {
        gap: 3.2rem;
    }
}